:root {
    --mainColor1: #EEEEEEAA;
    --mainColor2: #FFAA00AA;
    --accentColor1: #0099EE;
    --accentColor2: #EE9900;
    --highlightColor1: #0051FF;
    --highlightColor2: #FF8800;
    --textColor: #111111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mainColor1: #1D1D1D;
        --mainColor2: #5F3F00AA;
        --accentColor1: #004B74;
        --accentColor2: #A16900;
        --highlightColor1: #0051FF;
        --highlightColor2: #FF8800;
        --textColor: #DDDDDD;
    }
}

*{
    transition: all 0.5s;
    color: var(--textColor);
}


body{
    background-color: var(--mainColor1);
}

header, footer{
    background-color: var(--accentColor1);
}

main{
    background-color: var(--mainColor2);
}

section{
    background-color: var(--accentColor2);
    border-radius: 5px;
}

section:hover{
    background-color: var(--accentColor1);
}

#backgroundCanvas{
    background-color: var(--mainColor1);
}

select, option{
    background-color: var(--accentColor1);
}

.tag{
    background-color: var(--accentColor1);
    border-style: solid;
    border-color: var(--highlightColor1);
    border-radius: 5px;
}

a:hover{
    color: var(--highlightColor1)
}

.icon{
    border-radius: 50%;
}