:root {
    --mainColor1: #EEEEEEAA;
    --mainColor2: #FFAA00AA;
    --accentColor1: #0099EEFF;
    --accentColor2: #EE9900FF;
    --textColor: #111111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mainColor1: #1D1D1DAA;
        --mainColor2: #5F3F00AA;
        --accentColor1: #00669CFF;
        --accentColor2: #BD7b00FF;
        --textColor: #EEEEEE;
    }
}

*{
    transition: all 1s;
    color: var(--textColor);
}


body{
    background-color: var(--mainColor1);
}

header, footer{
    background-color: var(--accentColor1);
}

main{
    background-color: var(--mainColor2);
}

section{
    background-color: var(--accentColor2);
    border-radius: 5px;
}

#backgroundCanvas{
    background-color: var(--mainColor1);
}